<html>
    <head>
        <title>{% block title %}{{ title }}{% endblock %}</title>
        {#- use variable something like STATIC #}
        <link rel="stylesheet" href="/static/style.css" type="text/css">
        <link rel="stylesheet" href="/static/style-doc.css" type="text/css">
        <link rel="stylesheet" href="/static/style-dir.css" type="text/css">
        <link href="{{ context.url_for('atom') }}" type="application/atom+xml" rel="alternate">
        {%- block head %}{% endblock %}
    </head>
    <body>
        <div class="sidebar">
            <h1>recent documents</h1>
            {% for group in recent_files()|groupby('date')|reverse %}
            <h2>{{ group.grouper }}</h2>
            <ul>
                {% for r in group.list %}
                <li><a href="{{ context.url_for('view_obj', rev='HEAD', path=r.blob.root_path) }}">{{ r.blob|title }}</a></li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
        <div class="main">
            <div class="contents">
                {%- block body %}{% endblock %}
            </div>
        </div>
    </body>
</html>
