<html>
    <head>
        <title>{% block title %}{{ handler.application.site_name }}{% endblock %}</title>
        {#- use variable something like STATIC #}
        <link rel="stylesheet" href="{{ handler.application.url_prefix }}/static/style.css" type="text/css">
        <link rel="stylesheet" href="{{ handler.application.url_prefix }}/static/style-doc.css" type="text/css">
        <link rel="stylesheet" href="{{ handler.application.url_prefix }}/static/style-dir.css" type="text/css">
        <link rel="stylesheet" href="{{ handler.application.url_prefix }}/static/pygments.css" type="text/css">
        <link href="{{ handler.reverse_url('AtomHandler') }}" type="application/atom+xml" rel="alternate">
        {%- block head %}{% endblock %}
    </head>
    <body>
        <div class="header">
            <h1><a href="{{ handler.reverse_url('RootHandler') }}">{{ handler.application.site_name|e }}</a></h1>
            <h2>{{ handler.application.site_description|e }}</h2>
        </div>
        <div class="sidebar">
            {%- if handler.application.static_links %}
            <h1>links</h1>
            <ul>
                {%- for name, link in handler.application.static_links %}
                <li><a href="{{ link }}">{{ name|e }}</a></li>
                {%- endfor %}
            </ul>
            {%- endif %}
            <h1>recent documents</h1>
            {%- for group in recent_files()|groupby('date')|reverse %}
            <h2>{{ group.grouper }}</h2>
            <ul>
                {%- for r in group.list %}
                <li><a href="{{ handler.reverse_url('BlobHandler', 'HEAD', r.blob.root_path) }}">{{ r.blob|title }}</a></li>
                {%- endfor %}
            </ul>
            {%- endfor %}
        </div>
        <div class="main">
            <div class="contents">
                {%- block body %}{% endblock %}
            </div>
        </div>
        <div class="poweredby">
            powered by <a href="https://github.com/nakamuray/blikit">blikit</a>
        </div>
    </body>
</html>
