<h1>
    <a class="pathentry first" href="{{ context.url_for("view_obj", rev=commit.name) }}">{{ commit.name|truncate(length=8, killwords=True) }}</a>
    <span class="pathentry sep">/</span>
    {%- for pathentry in pathentries %}
    <a class="pathentry" href="{{ context.url_for("view_obj", rev=commit.name, path=pathentry.root_path) }}">{{ pathentry.name|e }}</a>
    <span class="pathentry sep">/</span>
    {%- endfor %}
    <a class="pathentry" href="{{ context.url_for("view_obj", rev=commit.name, path=blob.root_path) }}">{{ blob.name|e }}</a>
</h1>
<h3>{{ doc.title }}</h3>
<div class="document">
    {{ doc.body }}
    <div class="footer">
        author: {{ blob.author_name }}
      | created: {{ blob.created|dateformat }}
      | modified: {{ blob.last_modified|dateformat }}
      | <a href="{{ context.url_for('view_obj', rev=commit.name, path=blob.root_path) }}?raw=1">raw</a>
    </div>
</div>
