<html>
    <head>
        <title>{{ tree.name }}</title>
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <!-- TODO: sort by these colmns -->
                    <th>&nbsp;</th>
                    <th>name</th>
                    <th>last modified</th>
                    <th>size</th>
                    <th>description</th>
                </tr>
            </thead>
            <tbody>
                {%- for name, obj in tree.iteritems() %}
                <tr>
                    {%- if obj.is_tree %}
                    <td>&nbsp;</td> <!-- TODO: display file type icons -->
                    <td><a href="{{ escape(name + '/') }}">{{ name + '/' | escape }}</a></td>
                    <td>&nbsp;</td> <!-- TODO: last modified -->
                    <td>&nbsp;</td> {#- directory has no size #}
                    <td>&nbsp;</td> <!-- TODO: description -->
                    {%- else %}
                    <td>&nbsp;</td> <!-- TODO: display file type icons -->
                    <td><a href="{{ escape(name) }}">{{ name | escape }}</a></td>
                    <td>&nbsp;</td> <!-- TODO: last modified -->
                    <td>&nbsp;</td> <!-- TODO: size -->
                    <td>&nbsp;</td> <!-- TODO: description -->
                    {%- endif %}
                </tr>
                {%- endfor %}
            </tbody>
        </table>
        {%- if readme %}
        <!-- TODO: use proper header level -->
        <h1>{{ readme.title|escape }}</h1>
        {{ readme.body }}
        {%- endif %}
    </body>
</html>
