{% extends "base.html" %}
{% block title %}{{ commit.name }}/{{ tree.root_path|e }} - {{ super() }}{% endblock %}
{% block body %}
<h1>
    {%- with obj = tree %}
    {%- include "breadcrumb-list.html" %}
    {%- endwith %}
    <span class="pathentry sep">/</span>
</h1>
<table class="dirlist">
    <thead>
        <tr>
            <!-- TODO: sort by these colmns -->
            <th class="name">name</th>
            <th class="mtime">last modified</th>
            <th class="size">size</th>
            <th class="description">description</th>
        </tr>
    </thead>
    <tbody>
        {%- set row_class = cycler('even', 'odd') %}
        {%- if tree.parent %}
        <tr class="{{ row_class.next() }}">
            <td class="name" colspan="4"><a class="parent" href="../">../</a></td>
        </tr>
        {%- endif %}
        {%- for name, obj in tree.iteritems() %}
        {%- if name.startswith('.') %}{% continue %}{% endif %}
        <tr class="{{ row_class.next() }}">
            {%- if obj|is_link %}
            {%- set obj = obj.target %}
            {%- endif %}
            {%- if obj|is_tree %}
            <td class="name"><a class="dir" href="{{ handler.reverse_url('TreeHandler', obj.commit.name, obj.root_path) }}">{{ name+'/'|e }}</a></td>
            <td class="mtime">{{ obj.last_modified|dateformat }}</td>
            <td class="size">&nbsp;</td> {#- directory has no size #}
            <td>{{ obj|description|default("", true)|e }}</td>
            {%- else %}
            {%- set doc = obj|document %}
            <td class="name"><a class="file" href="{{ handler.reverse_url('BlobHandler', obj.commit.name, obj.root_path) }}">{{ name|e }}</a></td>
            <td class="mtime">{{ doc.last_modified|dateformat }}</td>
            <td class="size">{{ obj.size|filesizeformat }}</td>
            <td class="description">{{ doc.description|default("", true) }}</td>
            {%- endif %}
        </tr>
        {%- endfor %}
    </tbody>
</table>
{%- if readme %}
{{ readme }}
{%- endif %}
{% endblock %}
