body {
    margin: 1em;;
}

h1 {
    font-size: 100%;
}

a {
    text-decoration: none;
}

a:link {
    color: #005585;
    border-bottom: 1px solid #005585;
}

a:visited {
    color: #485270;
    border-bottom: 1px solid #cccccc;
}

a:hover {
    color: #b83800;
}

img {
    vertical-align: bottom;
}

a img {
    border: 2px solid #eeeeee;
}

a:hover img {
    border: 2px solid #cccccc;
}

ul {
    list-style-type: square;
    padding-left: 2em;
}

ul, ol {
    list-style-position: outside;
}

div.header {
    height: 120px;
}

div.header h1 {
    font-size: 170%;
}

div.header h2 {
    font-size: 100%;
    color: #555555;
    font-weight: normal;
}

div.main {
    float: right;
    width: 85%;
}

div.sidebar {
    float: left;
    width: 15%;
    font-size: 80%;
}

.sidebar h1 {
    font-size: 90%;
    font-weight: normal;
}

.sidebar h2 {
    font-size: 80%;
    font-weight: normal;
}

div.contents {
    padding-left: 1em;
}
